<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Job Vacancies</title>
  </head>
  <body>
    <h3>Job Vacancies posted by you along with Applicants</h3>
    <ul>
      <% jobs.forEach((job)=>{%>
      <li>
        <div>
          <div>Designation: <%=job.designation%></div>
          <div>Minimum Qualification: <%=job.minimumQualification%></div>
          <div>Job Description: <%=job.jobDescription%></div>
          <div>
            Professor Under:
            <a href="<%=job.professorUnder%>" target="_blank">Click Here</a>
          </div>
          <div>
            View Applicants
            <a href="<%=job.applicantsLink%>" target="_blank">Click Here</a>
          </div>
        </div>
      </li>
      <%})%>
    </ul>
  </body>
</html>
