<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <table>
      <tr>
        <td>Name :</td>
        <td><%= name %></td>
      </tr>
      <tr>
        <td>City :</td>
        <td><%= city %></td>
      </tr>
      <tr>
        <td>State :</td>
        <td><%= state %></td>
      </tr>
      <tr>
        <td>Pin Code :</td>
        <td><%= pin %></td>
      </tr>
      <tr>
        <td>Type :</td>
        <td><%= type %></td>
      </tr>
      <tr>
        <td>Website :</td>
        <td><a href="<%= website %>"     target="_blank">Click Here</a></td>
      </tr>
    </table>
  </body>
</html>
